{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Articles</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/icomoon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div id="header-wrap">


		{% include "header.html" %}


</div><!--header-wrap-->

	<section id="featured-books" class="py-5 my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-header align-center">
						<h2 class="section-title">About Journal</h2>
					</div>

					<div class="product-list" data-aos="fade-up">
						<div class="row">

							<div class="container">
                                <p>Journal of Universal Science Research (JUSR)(ISSN: 2181-4570) - This journal is an international open-access journal that publishes original research and articles in various fields. The main objective is to offer an intellectual platform for international scholars and promote interdisciplinary research in applied sciences. This magazine is comprehensive in all areas. All manuscripts must be prepared in Uzbek, English, Russian, Karakalpak, Tajik, and German languages ​​and must be thoroughly reviewed. The scientific journal "Journal of Universal Science Research (JUSR)" was registered as a limited liability company for the publication of periodicals on 16.01.2023 with number #2060968. It was registered as a mass media by the Information and Mass Communications Agency under the Administration of the President of the Republic of Uzbekistan on 13.02.2023 with number #063228.</p>
                                <div style="display: flex;">
                                    <span style="font-weight: bold;">Publication period:</span><p>Monthly</p>
                                </div>
                                <div style="display: flex;">
                                    <span style="font-weight: bold;">Publisher:</span><p>"Research Science and Innovation house" LLC</p>
                                </div>
                            </div>

						</div><!--ft-books-slider-->
					</div><!--grid-->


				</div><!--inner-content-->
			</div>
		</div>
	</section>


	<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>

</html>